/* Generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class*="col-"] {
    /* border: 1px solid black; */
    min-height: 5px;
}

#app {
    background-image: url("../img/sfondo.png");
    background-size: cover;
    padding: 15px;
}

/* Colonna di sinistra */
.area-notifiche {
    display: flex;
    align-items: center;
    background-color: rgb(142, 218, 252);
    padding: 11px;
}

.search-user {
    display: flex;
    align-items: center;
    height: 45px;
    background-color: rgb(234, 234, 234);
}

.search-user .fa-search {
    margin-right: 10px;
    margin-left: 10px;
}

.search-box {
    width: 330px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

ul {
    list-style-type: none;
}

.me-container {
    display: flex;
    align-items: center;
}

.me-container img {
    background-color: white;
    border-radius: 50px;
}

img {
    width: 40px;
    height: auto;
    margin: 10px;
}

.fas {
    color: rgb(177, 177, 177);
    margin-left: 15px;
}

h6 {
    margin-bottom: 0;
}

.textclass {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(234, 234, 234);
}

.list-style{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    /* border: 1px solid black; */
    border-top: 1px solid lightgray;
    align-items: center;
    background-color: white;
}

.user-profilo {
    display: flex;   
}

.last-msg {
    font-size: 10px;
}

.fa-bell-slash{
    background-color: white;
    padding: 10px;
    margin-right: 7px;
    border-radius: 50px;
    color: rgb(142, 218, 252);
}

.users-container li:hover {
    background-color: rgb(234, 234, 234);
}

.class-on-click {
    background-color: rgb(234, 234, 234);
}

.area-notifiche a {
    color: gray;
}

.user-profilo div h6{
    margin-top: 7px;
}

/* Colonna di destra */
.msg-area {
    background-image: url("../img/whapp2.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.msg-list {
    padding: 20px;
}

.my-message {
    display: flex;
    justify-content: end;
}

.other-message {
    display: flex;
}

.my-message div, .other-message div{
    margin: 5px;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    /* Debug */
    /* border: 1px solid black; */
}

.my-message div {
    background-color: rgb(213, 249, 186);
}

.other-message div {
    background-color: white;
}

.nopadding{
    padding: 0;
    margin: 0;
}

.area-settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(234, 234, 234);
    height: 100%;
    border-left: 1px solid lightgray;
}

.group-settings {
    display: flex;
    padding: 10px;
    /* justify-content: end; */
}

.input-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    /* border: 1px solid black; */
    position: absolute;
    bottom: 0;
    background-color: rgba(234, 234, 234, 0.7);
}

.input-text i {
    color: black;
}

.my-msg-input {
    width: 600px;
    border-radius: 5px;
    padding: 5px;
    border: none;
}





