/* Generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class*="col-"] {
    border: 1px solid black;
    min-height: 5px;
}

/* Colonna di sinistra */
.area-notifiche {
    background-color: aqua;
}

ul {
    list-style-type: none;
}

.me-container {
    display: flex;
    align-items: center;
}

img {
    width: 40px;
    height: auto;
    margin: 10px;
}

h6 {
    margin-bottom: 0;
}

.textclass {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-style{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid black;
    align-items: center;
}

.user-profilo {
    display: flex;   
}

.last-msg {
    font-size: 10px;
}

/* Colonna di destra */
.msg-area {
    background-image: url("../img/whappback.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.my-message {
    display: flex;
    justify-content: end;
}

.other-message {
    display: flex;
}

.my-message div, .other-message div{
    margin: 5px;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    /* Debug */
    border: 1px solid black;
}

.my-message div {
    background-color: aquamarine;
}

.other-message div {
    background-color: white;
}



