/* Generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class*="col-"] {
    border: 1px solid black;
    min-height: 100px;
}

/* Colonna di sinistra */
.area-notifiche {
    background-color: aqua;
}

ul {
    list-style-type: none;
}

.users-container img {
    width: 50px;
}

.msg-area {
    background-image: url("../img/whappback.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.my-message {
    display: flex;
    justify-content: end;
}

.other-message {
    display: flex;
}

.my-message div, .other-message div{
    margin: 5px;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    /* Debug */
    border: 1px solid black;
}

.my-message div {
    background-color: aquamarine;
}

.other-message div {
    background-color: white;
}

